* {
    font-family: 'Roboto', sans-serif;
    /*border: solid red;*/
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header, .footer {
    flex: 0;
}

.content {
    flex: 1;
}

.header {
    height: 36px;
    padding: 0px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.header-links {
    padding: 0;
    display: flex;
    gap: 12px;
}

li {
    list-style-type: none;
    font-size: 18px;
    color: #F9FAF8;
}

.footer {
    text-align: center;
    height: 48x;
    padding: 8px;
    font-size: 12px;
    background-color: #1F2937;
    font-size: 12px;
    color: #F9FAF8;
}

.hero {
    background-color: #1F2937;
    display: flex;
    align-items: stretch;
    padding: 48px 48px;
    height: 300px;
    gap: 16px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

#hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

#hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 800;
    width: 100px;
    height: 50px;
    padding: 12px;
    border-radius: 12px;
    border: none;
}

#hero-placeholder {
    height: auto;
    width: 500px;
    padding: 16px;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-placeholder a {
    text-align: center;
}

.random-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 48px 48px;
    height: 300px;
    gap: 32px;
}

#info-header-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.images {
    display: flex;
    justify-content: center;
    gap: 36px;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temp-image {
    height: 125px;
    width: 125px;
    border: solid #3882F6;
    border-radius: 12px;
}

.image-subtext {
    width: 125px;
    font-size: 18px;
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px 48px;
    height: 300px;
    gap: 8px;
    background-color: #E5E7EB;
}

#quote-text {
    padding: 0px 48px;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

#quote-author {
    padding: 0px 48px;
    font-size: 36px;
    font-weight: bold;
    align-self: flex-end;
}

.call-to-action {
    padding: 48px;
    height: 300px;
    display: flex;
    align-items: center;
}

#action-banner {
    background-color: #3882F6;
    height: 150px;
    width: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
    border-radius: 12px;
}

#action-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #F9FAF8; 
    font-size: 18px; 
    gap: 4px;
}

#action-text-header {
    font-size: 24px;
    font-weight: bold;
}

#action-banner button {
    border: solid #F9FAF8;
}